*{margin:0;padding:0;font:inherit;color:inherit;line-height: 1.2em;}
*, :after, :before {box-sizing:border-box;}
:root {-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:100%;text-size-adjust:100%;cursor:default;line-height:1.5;overflow-wrap:break-word;-moz-tab-size:4;tab-size:4}
html, body {height:100%;}
html{overflow: hidden;}
body{
    font-family: 'Kanit';
    min-width: 1340px;
    width: 100%;
    position: relative;
    background: #000;
}
html.fp-enabled, .fp-enabled body{overflow: auto !important;}
img, picture, video, canvas, svg {display: block;max-width:100%;}
button {background:none;border:0;cursor:pointer;}
a {text-decoration:none; display: block;}
table {border-collapse:collapse;border-spacing:0}
ul,ol,nav{list-style:none;}

.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    margin: -1px;
}

.sticky{
    position: sticky;
    top:0;
    height: 100vh;
    overflow: hidden;
}

.__cursor {
    position: fixed;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    width: 50px;
    height: 50px;
    transition: width .3s ease, height .3s ease;
    background-color: #fff;
    border-radius: 50%;
    mix-blend-mode: difference;
  }
  .__cursor div{
    width: 100%;
    height: 100%;
    position: absolute;
    background: #fff;
    border-radius: 50%;
  }
  .__cursor.hover{
    width: 70px;
    height: 70px;
  }