@font-face {
    font-family: 'NotoSans';
    src: url('/assets/fonts/NotoSansKR-VariableFont_wght.ttf') format('truetype');
}
@font-face {
    font-family: 'Kanit';
    src: url('/assets/fonts/Kanit-Regular.ttf') format('truetype');
}