@import './utils/var';
@import './utils/mixin';

@import './base/reset';
@import './base/typo';
@import './base/preset';

@import './layout/header';
@import './layout/footer';

@import './page/main';


.intro-container{
    width: 100%;
    height: 100%;
    background: #000;
    transition: .5s all ease;
    z-index: 999;
    position: absolute;
    top: 0;
    height: 600vh;
    .intro-wrap{
        width: 100%;
        height: 100vh;
        .intro{
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 2;
            &-label{
                color: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-weight: 900;
                font-size: 18px;
                &:nth-child(1){
                    z-index: 1;
                }
                &:nth-child(2){
                    cursor: pointer;
                    .char{
                        filter: blur(5px);
                        opacity: 0;
                    }
                }
            }
        }
    }
    .intro-video{
        height: 100%;
        opacity: 0;
        .video-wrap{
            height: 100%;
            .video-btn{
                position: absolute;
                bottom: 80%;
                right: 35px;
                z-index: 1;
                opacity: 0;
                .skip{
                    position: relative;
                    color: #fff;
                    border: 1px solid #fff;
                    padding: 16px 26px;
                    border-radius: 72px;
                    background: #000;
                    overflow: hidden;
                    z-index: 1;
                    will-change: transform;
                    &::before{
                        content: '';
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        transition: transform .75s cubic-bezier(.19,1,.22,1), -webkit-transform .75s cubic-bezier(.19,1,.22,1), -o-transform .75s cubic-bezier(.19,1,.22,1);
                        transform-origin: top;
                        transform: scaleY(0);
                        z-index: -1;
                    }
                    &:hover{
                        color: #000;
                        &::before{
                            transform-origin: bottom;
                            transform: scaleY(1);
                            background: #fff;
                        }
                    }
                }
            }
            video{
                transform: translateY(-50%);
                top: 50%;
                position: absolute;
                width: 100%;
            }
            .video-scroll{
                position: absolute;
                bottom: 10%;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                gap: 10px;
                color: #fff;
                left: 50%;
                transform: translate(-50%, 50px);
                opacity: 0;
            }
            .video-label{
                position: absolute;
                bottom: 0;
                width: 100%;
                color: #fff;
                font-weight: 900;
                &.label1,
                &.label4{
                    font-size: 25vh;
                }
                &.label2,
                &.label3{
                    font-size: 15vh;
                }
            }
        }
    }
}
.wrap{
    background: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    opacity: 0;
    header{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        padding: 30px 20px;
        margin-bottom: 5px;
        backdrop-filter: blur(12px);
        z-index: 99;
        .header__inner{
            display: flex;
            align-items: center;
            justify-content:space-between;
            .header-logo{
                .header-icon{
                    svg{

                    }
                }
            }
            .header-title{
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
                h1{
                    font-family: 'Kanit';
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    font-size: 24px;
                    p{

                    }
                }
            }
            nav.header-nav{
                display: flex;
                align-items: center;
                ul.menu{
                    display: flex;
                    align-items: center;
                    font-size: 18px;
                    font-weight: 500;
                    li{
                        a{
                            margin-right: 20px;
                        }
                    }
                }    
                .toggle{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 60px;
                    height: 31px;
                    border-radius: 72px;
                    background: #000;
                    &__inner{
                        display: flex;
                        align-items: center;
                        position: absolute;
                        width: 27px;
                        height: 27px;
                        border-radius: 100%;
                        background: #fff;
                        will-change: transform;
                        left: 3px;
                        svg{
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                            z-index: 1;
                        }
                        .sun{

                        }
                        .moon{

                        }
                    }
                }
            }
        }
    }
    .main{
        padding-top: 195px;
        background: #fff;
        .s1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            z-index: 2;
            background: #fff;
            padding:0 20px 64px 20px;
            &-title{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: clamp(5.3125rem, calc(4.3125rem + 10vw), 15.3125rem);
                font-weight: 700;
                font-family: "Kanit";
                .title{
                    display: flex;
                    align-items: center;
                    p{
                        position: relative;
                        top: -5px;
                        line-height: .86;
                    }
                    span{
                        display: inline-block;
                        width: 1em;
                        height: .7em;
                        video{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 17px;
                        }
                    }
                }
            }
            &-description{
                font-family: "Kanit";
                margin-top: 7px;
                font-size: 24px;
            }
        }
        .s2{
            position: relative;
            z-index: 1;
            height: 100vh;
            margin-top: -40vh;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .s3{
            position: relative;
            z-index: 2;
            padding: 80px 20px 0 20px;
            margin-bottom: 155px;
            background: #fff;
            &__inner{
                ul.s3__list{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    font-size: 1.2em;
                    gap: 20px;
                    li{
                        display: flex;
                        align-items: center;
                        position: relative;
                        &:before{
                            content: "";
                            display: block;
                            width: 5px;
                            height: 5px;
                            background:#000;
                            margin-right: 15px;
                        }
                    }
                }
            }
        }
        .s4{
            position: relative;
            height: 600vh;
            z-index: 2;
            background: #fff;
            .sticky{
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                padding-bottom: 20px;
                .s4-title{
                    font-weight: 700;
                    margin-bottom: 30px;
                    padding: 0 20px;
                    p{
                        font-size: 32px;
                        line-height: 1.3;
                    }
                    h2{
                        position: relative;
                        left: -.05em;
                        font-size: clamp(3.8rem, calc(-1.675rem + 13.375vw), 14.375rem);
                        line-height: .9;
                    }
                }
                .project{
                    padding-left: 20px;
                    &__list{
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        width: 3500px;
                        max-width: 3500px;
                        li{
                            width: 30vw;
                            min-width: 30vw;
                            a{
                                position: relative;
                                background: #fff;
                                &:hover{
                                    .pr-img{
                                        opacity: 0;
                                        z-index: 1;
                                    }
                                    .pr-img-hover{
                                        opacity: 1;
                                        z-index: 2;
                                    }
                                }
                                img{
                                    width: 100%;
                                    object-fit: cover;
                                    aspect-ratio: 1 / .8;
                                    transition: opacity .6s ease;

                                }
                                .pr-img{
                                    position: relative;
                                    z-index: 2;
                                }
                                .pr-img-hover{
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    z-index: 1;
                                    opacity: 0;
                                }
                                .project-description{
                                    position: absolute;
                                    top: 15px;
                                    left: 15px;
                                    color: #fff;
                                    mix-blend-mode: difference;
                                    z-index: 3;
                                    p{
                                        &:nth-child(1){
                                            font-size: 2em;
                                            font-weight: 800;
                                        }
                                        &:nth-child(2){
                                            font-size: 1.2em;
                                            display: flex;
                                            flex-wrap: wrap;
                                            gap: 5px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .s5{
            position: relative;
            z-index: 1;
            height: 100vh;
            margin-top: -40vh;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .s6{
            position: relative;
            padding: 100px 20px 90px 20px;
            z-index: 2;
            background: #fff;
            &__inner{
                display: flex;
                align-items: center;
                &-cont{
                    flex: 1;
                    h2{
                        font-size: 32px;
                        margin-bottom: 62px;
                        font-weight: 700;
                    }
                    .left{
                        flex: 1;
                        position: relative;
                        height: 470px;
                        overflow: hidden;
                        &:before{
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 5%;
                            top: 0;
                            left: 0;
                            backdrop-filter: blur(2px);
                            z-index: 1;
                        }
                        &:after{
                            content: "";
                            position: absolute;
                            width: 100%;
                            height: 5%;
                            bottom: 0;
                            left: 0;
                            backdrop-filter: blur(2px);
                            z-index: 1;
                        }
                        ul.career__list{
                            font-weight: 700;                        
                            li{
                                display: flex;
                                align-items: center;
                                margin-bottom: 55px;
                                p{
                                    flex: 1;
                                }
                            }
                        }
                    }
                    .right{
                        height: 470px;
                        .languages__list{
                            li{
                                position: relative;
                                display: flex;
                                flex-wrap: wrap;
                                font-weight: 700;
                                border-bottom: 2px solid;   
                                padding: 20px 15px;
                                color: #000;
                                &::before{
                                    content: "";
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    width: 100%;
                                    height: 100%;
                                    transition: all .35s cubic-bezier(0,.3,.4,1);
                                    background: #000;
                                    transform-origin: bottom;
                                    transform: scaleY(0);
                                    z-index: -1;
                                }
                                &:hover{
                                    color: #fff;
                                    &::before{
                                        transform: scaleY(1);
                                    }
                                }
                                span{
                                    &:nth-child(1){
                                        flex: 0 0 16.66667%;
                                        max-width: 16.66667%;
                                    }
                                    &:nth-child(2){
                                        flex: 0 0 33.33333%;
                                        max-width: 33.33333%;
                                    }
                                    &:nth-child(3){
                                        flex: 0 0 50%;
                                        max-width: 50%;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}