footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 40px;
    bottom: 20px;
    color: #fff;
    width: calc(100% - 80px);
    z-index: 2;
    .right{
        display: flex;
        align-items: center;
        gap: 20px;
    }
}