* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  line-height: 1.2em;
}

*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
}

html {
  overflow: hidden;
}

body {
  font-family: "Kanit";
  width: 100%;
  position: relative;
  background: #000;
}

html.fp-enabled, .fp-enabled body {
  overflow: auto !important;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  display: block;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol, nav {
  list-style: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.__cursor {
  position: fixed;
  z-index: 9999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  pointer-events: none;
  width: 50px;
  height: 50px;
  -webkit-transition: width 0.3s ease, height 0.3s ease;
  transition: width 0.3s ease, height 0.3s ease;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
}
@media (max-width: 768px) {
  .__cursor {
    display: none;
  }
}

.__cursor div {
  width: 100%;
  height: 100%;
  position: absolute;
  background: #fff;
  border-radius: 50%;
}

.__cursor.hover {
  width: 70px;
  height: 70px;
}

@font-face {
  font-family: "NotoSans";
  src: url("../fonts/NotoSansKR-VariableFont_wght.ttf") format("truetype");
}
@font-face {
  font-family: "Kanit";
  src: url("../fonts/Kanit-Regular.ttf") format("truetype");
}
header {
  position: sticky;
  left: 0;
  top: 0;
  width: 100%;
  padding: 30px 20px;
  margin-bottom: 5px;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  z-index: 99;
}
header .header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
header .header__inner .header-title {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
header .header__inner .header-title h1 {
  font-family: "Kanit";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  text-align: center;
}
header .header__inner nav.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header__inner nav.header-nav ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  font-weight: 500;
}
header .header__inner nav.header-nav ul.menu li a {
  margin-right: 20px;
}
header .header__inner nav.header-nav .toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  width: 60px;
  height: 31px;
  border-radius: 72px;
  background: #000;
}
header .header__inner nav.header-nav .toggle__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 27px;
  height: 27px;
  border-radius: 100%;
  background: #fff;
  will-change: transform;
  left: 3px;
}
header .header__inner nav.header-nav .toggle__inner svg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}
header .header__inner nav.header-nav .toggle__inner .moon {
  left: unset;
  right: 0px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 40px;
  bottom: 20px;
  color: #fff;
  width: calc(100% - 80px);
  z-index: 2;
}
footer .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.intro-container {
  width: 100%;
  background: #000;
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  position: relative;
  height: 600vh;
}
.intro-container .intro-wrap {
  position: fixed;
  top: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
}
.intro-container .intro-wrap .intro {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.intro-container .intro-wrap .intro-label {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 18px;
}
.intro-container .intro-wrap .intro-label:nth-child(1) {
  z-index: 1;
}
.intro-container .intro-wrap .intro-label:nth-child(2) {
  cursor: pointer;
}
.intro-container .intro-wrap .intro-label:nth-child(2) .char {
  -webkit-filter: blur(5px);
          filter: blur(5px);
  opacity: 0;
}
.intro-container .intro-video {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0;
}
.intro-container .intro-video .video-wrap {
  height: 100%;
}
.intro-container .intro-video .video-wrap .video-btn {
  position: absolute;
  bottom: 80%;
  right: 35px;
  z-index: 1;
  opacity: 0;
}
.intro-container .intro-video .video-wrap .video-btn .skip {
  position: relative;
  color: #fff;
  border: 1px solid #fff;
  padding: 16px 26px;
  border-radius: 72px;
  background: #000;
  overflow: hidden;
  z-index: 1;
  will-change: transform;
}
.intro-container .intro-video .video-wrap .video-btn .skip::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.75s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.75s cubic-bezier(0.19, 1, 0.22, 1);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  z-index: -1;
}
.intro-container .intro-video .video-wrap .video-btn .skip:hover {
  color: #000;
}
.intro-container .intro-video .video-wrap .video-btn .skip:hover::before {
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  background: #fff;
}
.intro-container .intro-video .video-wrap video {
  -webkit-transform: translateY(-50%) !important;
          transform: translateY(-50%) !important;
  top: 50%;
  position: absolute;
  width: 100%;
}
.intro-container .intro-video .video-wrap .video-scroll {
  position: absolute;
  bottom: 10%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2vw;
  gap: 10px;
  color: #fff;
  left: 50%;
  -webkit-transform: translate(-50%, 50px);
          transform: translate(-50%, 50px);
  opacity: 0;
}
.intro-container .intro-video .video-wrap .video-label {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  font-weight: 900;
}
.intro-container .intro-video .video-wrap .video-label.label1, .intro-container .intro-video .video-wrap .video-label.label4 {
  font-size: 14vw;
}
.intro-container .intro-video .video-wrap .video-label.label2, .intro-container .intro-video .video-wrap .video-label.label3 {
  font-size: 9vw;
}

main {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
main .wrap > div {
  position: relative;
  background: #000;
  height: 100vh;
}
main .wrap > div .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 40px;
  color: #fff;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
main .wrap > div .cont .project {
  text-align: center;
}
main .wrap > div .cont .project h2 {
  margin-bottom: 20px;
}
main .wrap > div .cont .project a {
  display: inline-block;
  font-weight: 100;
}
main .wrap > div .cont .project a:hover {
  font-weight: 900;
}
main .wrap > div .cont .tech {
  text-align: right;
}
main .wrap > div .cont .project-list {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  border-top: 1px #ededed solid;
}
main .wrap > div .cont .project-list li {
  border-bottom: 1px #ededed solid;
}
main .wrap > div .cont .project-list li a.work-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  height: 70px;
}
main .wrap > div .cont .project-list li a.work-link > img {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 40px;
  margin-right: 40px;
}
main .wrap > div .cont .project-list li a.work-link h2 {
  margin-left: 40px;
  line-height: 70px;
}
main .wrap > div .cont .project-list li a.work-link .show-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding-left: 40px;
  gap: 50px;
  font-weight: 100;
  top: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: #e0fd60;
  color: #000;
  -webkit-clip-path: inset(50% 0% 50% 0%);
          clip-path: inset(50% 0% 50% 0%);
}
main .wrap > div .cont .project-list li a.work-link .show-wrap img {
  position: absolute;
  width: 40px;
  right: 40px;
}
main .wrap > div .show-behind {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
main .wrap > div .show-behind img, main .wrap > div .show-behind video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
main .wrap > div .show-behind.on img, main .wrap > div .show-behind.on video {
  opacity: 0.3;
}/*# sourceMappingURL=style.css.map */